#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=58);
  filter: alpha(opacity=58);
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Label_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5C5C5C;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5C5C5C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5C5C5C;
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #232C3D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #232C3D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #232C3D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #232C3D;
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Rectangle_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #232C3D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #232C3D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #232C3D;
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #0062B8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0062B8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0062B8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #0062B8;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 76px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FC0F3B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FC0F3B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FC0F3B;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 78px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FBEED5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FBEED5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FBEED5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FBEED5;
  border-radius: 8px 8px 8px 8px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  width: 363px;
  height: 44px;
  -ms-transform: rotate(0.0deg);
}
#s-42e69559-5eef-4e9f-9264-98c8dbecf661 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}