#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}