#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD699A;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FD699A;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FD699A;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FD699A;
  border-radius: 22px 22px 22px 22px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 154px;
  height: 31px;
  -ms-transform: rotate(0.0deg);
}
#s-71dd244d-3987-4f74-8dd7-7aa58cca4fca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}