#s-b440590a-aefb-4653-b60d-e56cc223064f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b440590a-aefb-4653-b60d-e56cc223064f #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  border-radius: 22px 22px 22px 22px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  width: 154px;
  height: 31px;
  -ms-transform: rotate(0.0deg);
}
#s-b440590a-aefb-4653-b60d-e56cc223064f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}